@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h3>SOBRE MIM</h3>

<hr>

<section>
    <ul>
        <li>Nasci em Ji-Paraná - Rondônia</li>
    </ul>
    <ul>
        <li>Sou Católica Apostólica Romana</li>
    </ul>
    <ul>
        <li>Gosto de cozinhar</li>
    </ul>
    <ul>
        <li>Tenho alergia a glúten</li>
    </ul>
    <ul>
        <li>Gosto de fazer as unhas</li>
    </ul>
</section>


<img src="sapo.jpg" alt="" width="1px" height="1px">