@page "/"

<PageTitle>Home</PageTitle>


<h3>CURRÍCULO</h3>
<hr>

<section style="display: flex; gap: 20px; align-items: center;">

  <img src="foto-minha.png" alt="" style="width: 100px; border-radius: 100px;" />

  <h4>Eduarda Oliveira</h4>

</section>

<br>

<section>
  <ul style="background: rgba(112, 145, 210, 0.392); border-radius: 5px;">
    <li>Cursando Técnico em Informática <br> 3000 horas <br> IFRO Campus Ji-Paraná</li>
  </ul>
  <ul style="background: rgba(112, 145, 210, 0.392); border-radius: 5px;">
    <li>Estágio voluntário <br> 100 horas <br> UniNet </li>
  </ul>
  <ul style="background: rgba(112, 145, 210, 0.392); border-radius: 5px;">
    <li>Curso de Informática Básica<br> 300 horas <br> Exceler </li>
  </ul>
  <ul style="background: rgba(112, 145, 210, 0.392); border-radius: 5px;">
    <li>Curso de Fé e Política <br> 60 horas <br> Escola Fé e Política </li>
  </ul>
</section>

<br>

<h5>Contato</h5>

<p>Email: eduardaoliveira011006@gmail.com | Telefone: +55 69 9210-8760</p>